<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <title>My Flying Log</title>
</head>
<body id="layout">
    <nav class="nav-bar" id="nav-layout">
        <ul class="nav-bar-ul" id="nav-ul">
                <li><a href="/">My Flying Log</a></li>

            {{#if currentUser }}
                <li><a href="/user/profile">Mi perfil</a></li>
                <li><a href="/user/flights">Mis vuelos</a></li>
                <li>
                    <form action="/auth/logout" method="POST">
                    <button id="btn-logout-layout"><a href="/auth/logout"></a>Cerrar sesi칩n</a></button>
                    </form>
                </li>    
            {{else}}

                <li><a href="/auth/signup">Registrarme</a></li>
                <li><a href="/auth/login">Iniciar sesi칩n</a></li>

            {{/if}}
        </ul>
    </nav>
    <!--치rea din치mica-->
    {{{body}}}
<footer class="footer" id="footer">
    <ul class="footer-list" id="footer-list">
    <li><a  class="footer" id="footer" href="/">My Flying Log</a></li>
    <li><a class="footer" id="footer"href="https://www.instagram.com/developer.path/"><img id="footer-img" src="../images/ig.png"</a></li>
    <li><a class="footer" id="footer"href="https://www.linkedin.com/in/romina-lpz-carranza/"><img id="footer-img" src="../images/linked.png"</a></li>
    </ul>
    </footer>
</body>
</html>
