<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <title>My Flying Log</title>
</head>
<body id="layout">
    <nav class="nav-bar" id="nav-layout">
        <ul class="nav-bar-ul" id="nav-ul">
                <li><a href="#"></a>My Flying Log</li>

            {{#if currentUser }}
                <li><a href="/user/profile">Mi perfil</a></li>
                <li><a href="/flights">Mis vuelos</a></li>
                <li>
                    <form action="/auth/logout" method="POST">
                        <button>Cerrar sesi칩n</button>
                    </form>
                </li>

            {{else}}

                <li><a href="/auth/signup">Registrarme</a></li>
                <li><a href="/auth/login">Iniciar sesi칩n</a></li>

            {{/if}}
        </ul>
    </nav>
    <!--치rea din치mica-->
    {{{body}}}

</body>
</html>
